*.iml
.gradle
/local.properties
.idea/
.vscode/
.kotlin/
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties
tmp_*/
tmp_*
tmp_*.zip
tmp/
.gradle-user-home/
settings.jason
artifacts/
%INSTALL%/
build_log.txt
final_build.log
gradlew_out.txt
fatiweb-marketplace-firebase-adminsdk-fbsvc-ee9d682cc5.json
