<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="order_updates" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <service
            android:name=".FatiFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/product_image_file_paths" />
        </provider>

        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.Admin" />
        <activity
            android:name=".AdminCommandesActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.Admin" />
        <activity
            android:name=".AdminClientsActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.Admin" />
        <activity
            android:name=".AdminClientDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.Admin" />
        <activity
            android:name=".AdminOrderDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.Admin" />
        <activity
            android:name=".AdminProduitsActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.Admin" />
        <activity
            android:name=".SellerDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.Admin" />
        <activity
            android:name=".SellerOrdersActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.Admin" />
        <activity
            android:name=".AdminProductEditorActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.Admin" />
        <activity
            android:name=".AdminParametresActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.Admin" />
        <activity
            android:name=".AdminNotificationsActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication.Admin" />
        <activity
            android:name=".RoleSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".LanguageSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".AboutCuratorActivity"
            android:exported="false" />
        <activity
            android:name=".HelpCenterActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentMethodsActivity"
            android:exported="false" />
        <activity
            android:name=".PersonalDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationPreferencesActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".ProductDetailsScreen"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryProductsActivity"
            android:exported="false" />
        <activity
            android:name=".AddressesActivity"
            android:exported="false" />
        <activity
            android:name=".OrdersHistoryActivity"
            android:exported="false" />
        <activity
            android:name=".OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".MessagingInboxActivity"
            android:exported="false" />
        <activity
            android:name=".ConversationActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".FavoritesActivity"
            android:exported="false" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".PhoneLoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".PhoneVerifyActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Onboard3"
            android:exported="false" />
        <activity
            android:name=".Onboard2"
            android:exported="false" />
        <activity
            android:name=".Onboard1"
            android:exported="false" />
        <activity
            android:name=".LoadingScreen"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.MyApplication" />
        <activity
            android:name=".CheckoutDetailsActivity"
            android:exported="false" />

        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>
